@import "_variables";

.about {
  @include flex-centered;
  flex-direction: column;
}

.about-nyt {
  @include flex-centered;
  flex-direction: row;
}

.aboutnyt-text {
  width: 55%;
  padding: 2rem;
  text-align: center;
}

.about-header {
  font-size: 3rem;
}

.about-paragraph {
  font-size: 2rem;
}

.nyt-pic {
  width: 25rem;
  height: 20rem;
}
