@import "_variables";

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-nyt {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aboutnyt-text {
  width: 55%;
  padding: 2rem;
  text-align: center;
}

.about-header {
  font-size: 3rem;
}

.about-paragraph {
  font-size: 2rem;
}

.nyt-pic {
  width: 25rem;
  height: 20rem;
}
