@import "_variables";

//search bar
.search-page {
    height: 50%;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(32, 32, 32, 0.6)), to(rgba(32, 32, 32, 0.6))),url("imgs/books5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding-top:6rem;
  }
  
  .search-text {
    font-size: 3rem;
    color:white;
    font-weight: 400;
    margin-bottom: 4.5rem;
  }
  
  .search-form {
    width: 60%;
    display:flex;
    flex-direction: row;
  }
  
  .search-bar {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0;
    border: none;
    outline: none;
  }
  
  .submit-btn {
    width: 9rem;
    outline: none;
    border-radius: 0;
    padding: 5px 1rem;
    color:black;
    border: none;
    background-color: rgb(184, 184, 184);
  }

  .submit-btn:hover {
    cursor: pointer;
  }
  
  //results
  .searched-books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    margin: 1rem auto;
    padding: 3rem auto;
    align-items: center;
  }

  .search-book {
    width:40%;
    height: 23rem;
    font-size: 1.7rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
    position:relative;
  }

  .searched-book-title {
    font-weight: 700;
    text-align: center;
    margin: 1rem;
  }

  .searched-book-author {
    font-weight: 400;
    text-align: center;
    margin: 1rem;
  }

  .searched-book-description {
    font-weight: 500;
    text-align: center;
    margin: 1rem;
  }

  .review-btn {
    margin: 3rem;
  }
  
  .book-review {
    text-decoration: none;
    color: white;
    border: 1px black solid;
    padding: 1rem;
    background-color: #2a4a68;
    width: 5rem;
  }

  .disabled {
    pointer-events: none;
  }

  //errors
.errors {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items:center;

}

.empty-input,
.book-not-found {
  margin: 3rem;
}