@import "_variables";
@import "_header";
@import "_nav";
@import "_about";
@import "_search";
@import "_popular";

//header index.html
@media screen and (max-width: $tablet) {
    .title {
        font-size: 5rem;
        font-weight: 300;
      }
      
      .title2 {
        font-size: 4rem;
        font-weight: 900;
      }
}

@media screen and (max-width: $phone) {
    .title {
        font-size: 3.5rem;
        font-weight: 300;
      }
      
      .title2 {
        font-size: 4rem;
        font-weight: 900;
      }
}

//nav bar
@media screen and (max-width: $tablet) {
    .logo {
        display: none;
    }

    .nav-btns {
        width: 100vw;
        justify-content: space-around;
        margin: 0;
    }
}

@media screen and (max-width: $phone) {
    .nav-btns {
        font-size: 2rem;
    }
}

//about
@media screen and (max-width: $tablet) {
    .nyt-pic {
        display:none;
    }

}

//popular
@media screen and (max-width: $tablet) {
    .page-btns {
        @include flex-centered;
        flex-direction: row;
        width: 100%;
    }

    .page-nav {
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 4rem;
    }
}

@media screen and (max-width: $phone) {
    .search-line {
        font-size: 2rem;
    }

}

//search
@media screen and (max-width: $tablet) {
    .search-form{
        width: 85%;
    }
}

@media screen and (max-width: $phone) {
    .search-text {
        font-size: 2.3rem;
    }

    .search-form{
        width: 85%;
    }
}